Zestaw5/__pycache__/polsys.cpython-38.pyc
Zestaw6/__pycache__/points.cpython-39.pyc
Zestaw6/__pycache__/rectangles.cpython-39.pyc
Zestaw6/__pycache__/Zadanie6_2.cpython-39.pyc
Zestaw7/__pycache__/points.cpython-39.pyc
